@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: var(--primary-text-color);
    text-decoration: none;
    list-style-type: none;
}

body {
    overflow-x: hidden;
}

body.active {
    overflow: hidden;
}

:root {
    --primary-text-color: #221D12;
    --light: #9F9F9F;
    --accent: #FFD400;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem 1rem 2rem;
}

.logo img {
    display: block;
    width: 200px
}

.navbarLogo {
    display: none;
}

.tabsSubContainer {
    display: flex;
    align-items: center;
    transform: translateX(0%);
    z-index: 100;
}

.link, .joinUs {
    display: block;
    font-size: 1.1rem;
    color: var(--primary-text-color);
    font-weight: 600;
    width: fit-content;
}

.link {
    transition: color .2s;
    padding: 1rem 1.5rem;
}

.link:hover {
    color: #f5b200;
}

.joinUs {
    background: #FFDD84;
    border: 1px solid var(--primary-text-color);
    border-radius: 5rem;
    padding: .5rem 1rem;
    margin: auto 0;
    transition: background .2s;
}

.joinUs:hover {
    background: #FFCB44;
}

.hamburgerMenu {
    display: none;
    height: fit-content;
    width: 40px;
}

.hamburgerMenu span {
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 20px;
    transition: all .3s ease-out;
}

.top, .bottom {
    background: var(--primary-text-color);
    transform-origin: 100%;
}

.middle {
    margin: .5rem 0;
    background:  #f5b200;
}

.hamburgerMenu.active .top {
    transform: rotate(-40deg);
}

.hamburgerMenu.active .middle {
    opacity: 0;
}

.hamburgerMenu.active .bottom {
    transform: rotate(40deg);
}

.heroBanner {
    padding: 5rem 10% 0;
    text-align: center;
}

.heroBanner::before, .heroBanner::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -10;
    background: var(--accent);
    border-radius: 50%;
    filter: blur(4.5rem);
}

.heroBanner::before {
    left: 0;
    bottom: 10px;
    width: 300px;
    height: 300px;
    opacity: .4;
}

.heroBanner::after {
    right: 0;
    top: 125px;
    width: 150px;
    height: 150px;
    opacity: .4;
}


.mainTitle {
    font-size: calc(3vw + 3vh);
    font-weight: 900;
    font-style: italic;
}

.mainTitle b {
    font-weight: 800;
    background: -webkit-linear-gradient(0deg, #ffcb43 0%, #ffd40080 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.callToActionContainer {
    margin-top: 1.5rem;
}

.info {
    font-size: clamp(12px, 1vw + 1vh, 1vw + 1vh);;
    font-weight: 600;
    color: var(--light);
    margin-block: 0 2rem;
}

.beeButtonContainer {
    display: flex;
    align-items: center;
    width: fit-content;
    position: relative;
    color: var(--primary-text-color);
    font-weight: 600;
    background: #FFDD84;
    border: 1px solid var(--primary-text-color);
    border-radius: 5rem;
    padding: .8rem 1.2rem;
    margin: auto;
    transition: all .3s ease-out;
    z-index: -999;
}

.bee {
    position: absolute;
    right: 1rem;
    opacity: 0;
    transition: all .5s;
}

.beeButtonContainer:hover {
    padding: .8rem 3.5rem .8rem 1.2rem;
}

.beeButtonContainer:hover .bee {
    opacity: 1;
    transform: translateX(.2rem);
}

.aboutSection {
    margin-block: 6rem;
    padding-inline: 15%;
}

.aboutSection .topSubContainer {
    margin: 0 auto 3rem;
    text-align: center;
}

.aboutTitle {
    position: relative;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    font-size: clamp(28px, 2.5vw + 2.5vh, 2.5vw + 2.5vh);
    font-weight: 700;
    color: var(--primary-text-color);
    width: fit-content;
}

.aboutTitle::after {
    content: '';
    position: absolute;
    display: block;
    width: calc(100% + 1rem);
    height: 7px;
    background: #FFCB43;
    z-index: -100;
    bottom: 15%;
}

.aboutSubTitle {
    color: var(--light);
    font-size: clamp(14px, 1.3vw + 1.3vh, .9vw + .9vh);
    font-weight: 500;
}

.aboutSubSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7vw;
    align-items: center;
}

.aboutSubSection img {
    /* width: 200px; */
    max-width: 100%;
    border-radius: 1rem;
    margin-inline: auto;
}

.aboutSubSection.two {
    margin-block: 7rem;
}


.aboutSubSection p {
    font-size: clamp(16px, 1vw + 1vh, 38px);
    font-weight: 500;
    line-height: 2.2rem;
    text-align: justify;
}

footer {
    --footer-color: #00000099;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-content: space-between;
    background: #ffcb4333;
    padding: 2rem 5%;
    color: var(--footer-color);
}


.logoCopyright p{
    font-size: clamp(12px, .5vw + .5vh, .5vw + .5vh);
    margin-top: 1rem;
    color: #818181;
}

.socialMediaContainer {
    display: flex;
    gap: .8rem;
}


.socialMediaLogoContainer {
    display: flex;
    width: 35px;
    height: 35px;
    border: 2.5px solid var(--footer-color);
    border-radius: 50%;
    color: var(--footer-color);
    align-items: center;
    justify-content: center;
    transition: .2s ease;
}

.socialMediaLogoContainer:hover {
    background: var(--footer-color);
}

.socialMediaLogoContainer:hover path {
    fill: white;
}

.address div a {
    text-decoration: underline;
}

.aboutLinks {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    text-decoration: underline;

}

h3 {
    color: var(--footer-color);
    font-size: clamp(18px, .8vw + .8vw, .8vw + .8vh);
    margin-bottom: 1rem;
    text-decoration: underline;
}

.socialMediaLogoContainer svg {
    height: 20px;
}

path {
    fill: var(--footer-color)
}


@media screen and (max-width: 1200px) {
    .aboutSubSection {
        grid-template-columns: repeat(1, 1fr);
    }

    .aboutSubSection.two img {
        order: 1;
    }

    .aboutSubSection.two p {
        order: 2;
    }

    footer {
        grid-template-columns: repeat(2, 1fr);
    }

    .socialMedia {
        display: flex;
        align-items: center;
    }

}

@media screen and (max-width: 1000px) {

    .navbarLogo {
        display: block;
        margin-bottom: 5rem;
    }

    .tabsSubContainer {
        position: absolute;
        height: 100vh;
        left: 0;
        top: 0;
        flex-direction: column;
        padding: 2rem;
        border-right: 1px solid #d8d8d8;
        background: #fff;
        transform: translateX(-100%);
        transition: transform .4s ease-out;
    }

    .tabsSubContainer.active {
        transform: translateX(0%);
    }

    .link {
        padding: 1.5rem 3.5rem;
    }
    
    .link:hover {
        color: #221D12;
    }

    .joinUs {
        margin-top: 1.5rem;
    }

    .joinUs:hover {
        background: #FFDD84;
    }

    .hamburgerMenu {
        display: block;
    }

    .beeButtonContainer:hover {
        padding: .8rem 1.2rem;
    }
    
    .beeButtonContainer:hover .bee {
        opacity: 0;
        transform: translateX(0%);
    }
}

@media screen and (max-width: 750px) {
    .heroBanner {
        padding: 5rem 5% 0;
    }

    .heroBanner::before {
        bottom: 40px;
        width: 200px;
        height: 200px;
    }
    
    .heroBanner::after {
        top: 125px;
        width: 100px;
        height: 100px;
    }

    footer {
        grid-template-columns: repeat(1, 1fr);
    }

    .logoCopyright {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 385px) {

    .logo img {
        width: 180px;
    }

    nav {
        padding: 1rem 2rem;
    }

    .tabsSubContainer {
        width: 100%;
    }

    .hamburgerMenu {
        width: 25px;
    }

    .hamburgerMenu.active {
        display: none;
    }

    .hamburgerMenu span {
        height: 4px;
    }

    .middle {
        margin: .3rem 0;
    }

    .hamburgerMenu.active .top {
        transform: rotate(-35deg);
    }
    
    .hamburgerMenu.active .bottom {
        transform: rotate(35deg);
    }
    
}